header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .headerLeft {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      color: red;
      font-size: 1.2rem;
      font-weight: 600;
      cursor: pointer;
      span {
        margin-left: 0.5rem;
      }
    }

    ul {
      display: flex;
      align-items: center;
      margin-left: 2rem;

      li {
        padding: 1.5rem 1rem;
        display: flex;
        align-items: center;
        .headerIcon {
          font-size: 1.5rem;
        }
      }

      li:hover {
        background-color: whitesmoke;
        cursor: pointer;
      }
    }
  }

  .headerRight {
    display: flex;
    align-items: center;
    cursor: pointer;

    .searchIcon {
      font-size: 1.5rem;
    }
    span {
      margin-left: 0.5rem;
    }
  }
  .headerRight:hover {
    color: rgb(92, 92, 253);
  }
}
