.features {
  display: grid;
  grid-template-areas:
    'photoshop cloud explore'
    'video video pdf';
  gap: 2rem;
  background-color: white;

  padding: 1.5rem;
}

.feature1 {
  flex: 1;
  grid-area: photoshop;
  height: 30rem;
  width: 100%;
  padding: 1rem;
  background-image: url('../../../public/assets/photoshop.jpg');
  // background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .feature1-info {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
  }
}

.feature2 {
  flex: 1;
  grid-area: cloud;
  height: 30rem;
  width: 100%;
  padding: 1rem;

  background-image: url('../../../public/assets/creative.jpg');
  // background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .feature2-info {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
  }
}

.feature3 {
  flex: 2;
  grid-area: video;
  height: 30rem;
  width: 100%;
  padding: 1rem;

  background-image: url('../../../public/assets/premiere.jpg');
  // background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .feature3-info {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
  }
}

.feature4 {
  grid-area: pdf;
  padding: 1rem;
  height: 30rem;
  width: 100%;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(251, 175, 158, 1) 0%,
    rgba(249, 51, 36, 1) 100%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .feature4-info {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
  }
}

.feature5 {
  grid-area: explore;
  padding: 1rem;
  height: 30rem;
  width: 100%;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(151, 151, 252, 1) 0%,
    rgba(151, 151, 252, 1) 0%
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .feature5-info {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;
  }
}
